@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*#region Base*/

body
{
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(100, 100, 100);
    
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
}
/*#endregion*/

/*#region Form*/

#carouselBodegas {
    margin-left: 5%;
    margin-right: 5%;
  }

.form-control::placeholder
{
    color: rgba(1,1,1, 0.5);
}
/*#endregion*/

/*#region Products*/
.product-container
{
    margin: 0% 5% 0% 5%;
    padding-bottom: 20%;
}

.product-container img
{
    max-width: 100%;
    max-height: 100%;
}

.product-unordered-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    /*REF: https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3em;
}

.product-unordered-list li
{
    text-align: center;
}

.product-header
{
    
    padding: 0px;
    margin: 0px;
    
    margin-bottom: 1em;
    
    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    background-color: rgb(20, 20, 20);
}

.product-item
{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-family: 'Poppins', sans-serif;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-item h3
{
    white-space: normal;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
}

.product-item:hover
{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    
    background-color: rgba(0.75, 0.75, 0.75, 0.5);
    border: 0.25em solid black;

    white-space: normal;
    overflow-wrap: break-word;
    
    margin: -10%;
    padding: 10%;
}

/*#endregion*/

/*#region Top-Nav Bar*/
.top-nav
{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.top-nav a {
    display:inline-block;
    width:100%;
    height:100%;

    color: white;
    text-align: center;
    padding: 1em 1em;

    text-decoration: none;
}

.top-nav a:hover
{
    transition: background-color 0.25s ease-in-out;
    background-color: blue;
}

.top-nav-active
{
    background-color: blue;
}

/*#endregion*/

/*#region IndexBody*/

.index-body-main
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.index-body-main h1
{
    font-size: 3em;
    text-decoration: underline;
}
.index-body-main h2
{
    font-size: 2em;
    text-decoration: underline;
}

/*#endregion*/

/*#region AboutUs*/

.aboutus-main-body
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.aboutus-main-body h1
{
    font-size: 3em;
}

.aboutus-iframe
{
    margin-top: 10%;
}

.aboutus-iframe iframe
{
    transition: .5s;

    border: 5px solid black;
    margin: 2em;
    width: 40em;
    height: 30em;
}

.aboutus-iframe iframe:hover
{
    transition: .5s;

    box-shadow: 0px 0px 40px 20px black;
}

.aboutus-question
{
    margin: 2em;
}

.aboutus-question p
{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    font-size: 1em;

    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;

}

.aboutus-question h2
{
    
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    font-size: 1.5em;

    text-decoration: underline;
}

.aboutus-question:hover h2
{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    font-size: 3em;
}
.aboutus-question:hover p
{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    font-size: 2em;

    text-decoration: underline;

    
    margin-top: 5%;
    margin-bottom: 5%;
}

.aboutus-socials
{
    background-color:  rgba(0.75, 0.75, 0.75, 0.5);
}

.aboutus-socials ul
{

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.aboutus-socials img
{
    transition: .5s;
}

.aboutus-socials img:hover
{
    transition: .5s;

    /*Ref: https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
    -webkit-filter: drop-shadow(0px 0px 10px #fff);
    filter: drop-shadow(0px 0px 10px white); 
}

/*#endregion*/

/*#region Media Queries*/

@media only screen and (max-width: 599px) {
    .top-nav
    {
        flex-direction: column;
        /* margin-bottom: 1.5em; */
    }
    .product-header
    {
        /* display: none; */
        visibility: hidden;
    }
    footer
    {
        display: none;
    }

    .product-item:hover
    {
        margin: -20%;
    }
    .product-container
    {
        margin: 20%;
    }
    .product-unordered-list
    {
        grid-gap: 5em;
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    .product-header
    {
        font-size: 1em;
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }

    footer
    {
        display: none;
    }
    .product-container
    {
        margin: 10%;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {

    .product-container
    {
        margin: 10%;
    }
}

/*#endregion*/
