@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*#region Base*/

body
{
    /*Color pallete grabbed from adobe color wheel, with tríad config and #A8875A as base color*/

    margin: 0;
    padding: 0;
    color: rgb(168, 135, 90);
    background-color: rgb(250,250,250);
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(168, 135, 90, 0.25);
    color: #5C4628;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    border-top: 1px solid  rgb(168, 135, 90);
}

/*#endregion*/

/*#region Form*/

.form-control::placeholder
{
    color: rgba(1,1,1, 0.5);
}

.contactForm
{
    font-family: 'Poppins', sans-serif;
}

#contactEmail
{
    color: #A8875A;
}

#ContContacto {
    margin-left: 5%;
    margin-right: 5%;
}

#flexCheckChecked:checked
{
    background-color: #A8875A;
}

#submit-button
{
    font-size: 1.2em;
    border-radius: 10px;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #5C4628;
    color: #A8875A;
}

#submit-button:hover
{
    background-color: rgba(168, 135, 90, 0.25);
}

#submit-button:active
{
    background-color: rgba(92, 70, 40, 0.5);
}

/*#endregion*/

/*#region Products*/
.product-container
{
    margin: 0% 5% 0% 5%;
    padding-bottom: 20%;
}

.product-container img
{
    max-width: 100%;
    max-height: 100%;
}

.product-unordered-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    /*REF: https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3em;
}

.product-unordered-list:hover > .product-item
{
    opacity: 0.5;
}

.product-unordered-list:hover > .product-item:hover
{
    opacity: 1;
}

.product-unordered-list li
{
    text-align: center;
}

.product-header
{
    
    padding: 0px;
    margin: 0px;
    
    margin-bottom: 1em;
    
    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    background-color: rgba(168,135,90, 0.5);
    border-bottom: 2px solid  rgb(168, 135, 90);;
}

.product-item
{
    transition:.5s;
    font-family: 'Poppins', sans-serif;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-item h3
{
    white-space: normal;
    overflow-wrap: break-word;
    font-family: 'Poppins', sans-serif;
}

.product-item:hover
{
    transition:.5s;

    background-color: #422D5C;

    white-space: normal;
    overflow-wrap: break-word;
    
    margin: -10%;
    padding: 10%;

    box-shadow: 0px 0px 1em 1em rgba(0.75, 0.75, 0.75, 0.5);
}

/*#endregion*/

/*#region Top-Nav Bar*/
.top-nav
{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.top-nav a {
    display:inline-block;
    width:100%;
    height:100%;

    color: #5C4628;
    text-align: center;
    padding: 1em 1em;

    text-decoration: none;

    border-bottom: 1px solid #5C4628;;
}

.top-nav a:hover
{
    transition: background-color 0.25s ease-in-out;
    background-color: #5C4628;
    color: rgb(168, 135, 90);
}

.top-nav-active
{
    background-color: rgb(168, 135, 90);
}

.top-nav-active a
{
    color: rgb(168, 135, 90);
}

/*#endregion*/

/*#region IndexBody*/

.index-body-main
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5%;
}

.index-body-main h1
{
    font-size: 3em;
    text-decoration: underline;
}
.index-body-main h2
{
    font-size: 2em;
    text-decoration: underline;
}

.index-body-main img
{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.index-starting ol
{
    text-align: center;
    list-style-position: inside;
    text-decoration: underline;
}

.index-starting ol li
{
    padding: 2%;
}

.index-starting ol a:link, .index-starting ol a:visited
{
    color: black;
}
.index-starting ol a:hover
{
    color: darkred;
}

/*#endregion*/

/*#region AboutUs*/

.aboutus-main-body
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.aboutus-main-body h1
{
    font-size: 3em;
}

.aboutus-iframe
{
    margin-top: 10%;
}

.aboutus-iframe iframe
{
    transition: .5s;

    border: 5px solid #A8875A;
    margin: 2em;
    width: 50vw;
    height: 50vh;
}

.aboutus-iframe iframe:hover
{
    transition: .5s;

    box-shadow: 0px 0px 40px 20px #5C4628;
}

.aboutus-question
{
    margin: 2em;
}

.aboutus-question:hover
{
    transition:.5s;

    box-shadow: 0px 0px 25px 40px rgba(66, 45, 92, 1);
    background-color: rgba(66, 45, 92, 1);
}

.aboutus-question p
{
    transition:.5s;

    font-size: 1.2em;

    text-decoration: none;

    margin-top: 0%;
    margin-bottom: 0%;

}

.aboutus-question h2
{
    transition:.5s;

    text-decoration: underline;
}

.aboutus-question:hover p
{
    transition:.5s;

    text-decoration: underline;

}

.aboutus-socials
{
    background-color: rgba(168, 135, 90, 0.25);
    margin-bottom: 2.6em;
    border-bottom: 1px solid  rgb(168, 135, 90);
    border-top: 1px solid  rgb(168, 135, 90);
}

.aboutus-socials ul
{

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.aboutus-socials img
{
    transition: .5s;
    /*Ref: https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(51%) sepia(60%) saturate(275%) hue-rotate(355deg) brightness(95%) contrast(89%);
}

.aboutus-socials img:hover
{
    transition: .5s;
    
    /*Ref: https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
    -webkit-filter: invert(51%) sepia(60%) saturate(275%) hue-rotate(355deg) brightness(95%) contrast(89%) drop-shadow(0px 0px 15px var(--shadow-color));
    filter: invert(51%) sepia(60%) saturate(275%) hue-rotate(355deg) brightness(95%) contrast(89%) drop-shadow(0px 0px 15px var(--shadow-color)); 
}

.aboutus-socials #whatsapp-social
{
    --shadow-color: #25D366;
}
.aboutus-socials #twitter-social
{
    --shadow-color: #00acee;
}
.aboutus-socials #instagram-social
{
    --shadow-color: #E1306C;
}

/*#endregion*/

/*#region Media Queries*/

@media only screen and (max-width: 599px) {
    .top-nav
    {
        flex-direction: column;
        /* margin-bottom: 1.5em; */
    }
    .product-header
    {
        /* display: none; */
        visibility: hidden;
    }
    footer
    {
        display: none;
    }

    .product-item:hover
    {
        margin: -20%;
    }
    .product-container
    {
        margin: 20%;
    }
    .product-unordered-list
    {
        grid-gap: 5em;
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    .product-header
    {
        font-size: 1em;
        text-decoration: none;
    }

    footer
    {
        display: none;
    }
    .product-container
    {
        margin: 10%;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {

    .product-container
    {
        margin: 10%;
    }
}

/*#endregion*/
