@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
    margin: 0;
    padding: 0;
}

.form-control::placeholder
{
    color: rgba(1,1,1, 0.5);
}

.product-container img
{
    max-width: 100%;
}

.product-unordered-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3em;
}

.product-unordered-list li
{
    text-align: center;
}

.product-header
{
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;

    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    background-color: lightgray;
}

/*
.product-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-box
{
    background-color: red;
    border: 0.25em black dashed;
    margin: 0.25em;
    width: 25%;
}

.product-text
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.product-image
{
    width: 10em;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

.top-nav
{
    background-color: rgb(0.75, 0.75, 0.75);
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.top-nav a {
    display:inline-block;
    width:100%;
    height:100%;

    color: white;
    text-align: center;
    padding: 1em 1em;

    text-decoration: none;
}

.top-nav a:hover
{
    transition: background-color 0.25s ease-in-out;
    background-color: blue;
}

.top-nav-active
{
    background-color: blue;
}

